# Basics in Python

### Variables & Data Types | Basic Operations | Strings & String Operations

# ==== Python Overview ====

In [3]:
# Python is used for complex data visualization. Because it's -
    # Easy
    # Object Oriented
    # Increases Productivity
    # Several liabrary
    
    
# Use following platforms for python codings:
    # www.python.org
    # Google Colaborator
    # Anaconda - Jupyter Notebook

# ==== Variables and Data Types ====

### >>>> Variable:

In Python, a variable is a symbolic name that is a reference or pointer to an object. Once an object is assigned to a variable, you can refer to the object by that name.

In [93]:
# Example:

age = 25
name = "Alice"

print(name, age)

Alice 25

In [97]:
#### Naming Conventoions:
    # Variable names must start with a letter or an underscore (_).
    # The rest of the name can include letters, digits, or underscores.
    # Variable names are case-sensitive (e.g., age and Age are different variables).
    
## Wrong Variables:
    # 2myvar="J" [Don't start a variable name with a number]
    # my-var="J" [No othe special character apart from "_" an under_score]
    # my var="J" [No space]

In [26]:
# Variables:

var1=5
var2=2

print(var1)
print(var2)

5
2

In [27]:
# Operations and Variables:

x=20+2
y=x/4
z=x-5

print(z)

17

In [38]:
z

17

###  >>>> Types of Data:

In [98]:
# Thre are 4 different types of data:
    # Integer - int : 1,2,3,4
    # Float - float : 1.2, 1.3, 5.5 
    # Strings - str : "Hello World"
    # Boolean - bool : True/False

In [99]:
age = 30                # int
height = 5.9            # float
name = "Alice"          # str
is_student = True       # bool

# ==== Basic Operations ====

In [103]:
## Addition, subtraction, multiplication, division, modulus, exponentiation and floor divitsion
# The signs are called 'Operators'

        ## Division: To get int - Use '/' & to get float - use '//'
        ## Modulus: '%' = (200%100)=0
        ## Exponentiation: '**' = (10**2)=100
# Python follows the BDMAS rules for a calculation.


# There are different types of operatiors, such as -
    # Arithmatic Operation
    # Assignment Operators
    # Comparison Operators
    # Logical Operators

### 1. Arithmatic Operation

In [ ]:
# Arithmetic operations include - 
    # Addition
    # Subtraction, 
    # Multiplication, 
    # Division, and more.
    
# These operations are aplicable for flat & intiger.

In [100]:
a = 10
b = 5

sum = a + b            # Addition: 15
difference = a - b     # Subtraction: 5
product = a * b        # Multiplication: 50
quotient = a / b       # Division: 2.0
modulus = a % b        # Modulus: 0
exponent = a ** b      # Exponentiation: 100000

Examples:

In [40]:
### Addition:

x = 30.7+5.9
print(x)

36.6

In [41]:
### Subtraction:

y = 10-40

print(y)

-30

In [42]:
## Multiplication:

x = 5*2
x

10

In [43]:
## Division: To get int - Use '/' & to get float - use '//':

x = 11//2
x

5

In [44]:
x = 11/2
x

5.5

In [45]:
## Modulus

200%100

0

In [46]:
## Exponentiation:

3**2

9

### 2. Assignment Operators

In [101]:
# Assignment operators are used to assign values to variables.

x = 5                  # Assigns 5 to x
x += 3                 # Equivalent to x = x + 3
x -= 2                 # Equivalent to x = x - 2
x *= 4                 # Equivalent to x = x * 4
x /= 2                 # Equivalent to x = x / 2
x %= 3                 # Equivalent to x = x % 3
x **= 2                # Equivalent to x = x ** 2

### 3. Comparison Operators

In [ ]:
# Comparison operators are used to compare values and return a boolean result.

a = 10
b = 5

print(a == b)          # Equal to: False
print(a != b)          # Not equal to: True
print(a > b)           # Greater than: True
print(a < b)           # Less than: False
print(a >= b)          # Greater than or equal to: True
print(a <= b)          # Less than or equal to: False

### 4. Logical Operators

In [102]:
# Logical operators are used to combine conditional statements.

x = True
y = False

print(x and y)         # Logical AND: False
print(x or y)          # Logical OR: True
print(not x)           # Logical NOT: False

False
True
False

#### Mathemetical Operation Conventions

In [48]:
(10+2)*2

24

In [49]:
# Mathemetical Operation and Variables

x = 7-6*1
y = x*3

y

3

In [50]:
x = ((5+2)*2)/7
y = -5**2 + 2*x

y

-21.0

#### Converting from one type to a different type

In [31]:
# int to float

float(9)

9.0

In [32]:
int("6")

6

In [33]:
bool(-6)

True

In [34]:
#It's 'False' for only '0'

bool(0)

False

In [35]:
str(True)

'True'

# ==== Strings | String Operations | Indexing & Slicing (Stride) ====

### >>>> Strings <<<<

In [104]:
# Creating Strings
# Strings can be created by enclosing text in single quotes, double quotes, or triple quotes.

# Examples:

single_quote_str = 'Hello'
double_quote_str = "Hello"
triple_quote_str = '''Hello'''

In [51]:
"python"

'python'

In [52]:
type("1 2 3 4 @ 1 _")

str

In [53]:
print("This is coding.")

This is coding.

#### String Concatenation

In [115]:
# Strings can be concatenated using the '+' operator.

# Example 1:

greeting = "Hello"
name = "Alice"

message = greeting + " " + name 

message

'Hello Alice'

In [116]:
# Example 2:

Name = "Urmi"
Trait = " is the best"

Sentence = Name + Trait
Sentence

'Urmi is the best'

In [69]:
"Urmi "+"is the best."

'Urmi is the best.'

In [117]:
# Contate by multiplying:

"Urmi " * 2

'Urmi Urmi '

### >>>> String Methods and Functions | String Operations <<<<

In [114]:
# Python provides several built-in methods for strings.



text = "hello world"


# String methods
upper_text = text.upper()        # 'HELLO WORLD'
lower_text = text.lower()        # 'hello world'
title_text = text.title()        # 'Hello World'
split_text = text.split()        # ['hello', 'world']
joined_text = ' '.join(['hello', 'world'])  # 'hello world'



# String functions
length = len(text)               # 11

In [85]:
# upper()

name = "python"
var = name.upper()

var

'PYTHON'

In [86]:
# replace()

name = "Python Programming"
output = name.replace("Programming", "Coding")

output

'Python Coding'

In [87]:
# find()

name = "Python Programming"
output = name.find("b")

output     #When the letter is not found, the result is '-1'

-1

In [88]:
name = "Python Programming"
output = name.find("g")

output

10

### >>>> String Indexing | Slicing or Stride <<<<

##### STRING INDEXING:

In [112]:
# Indexing: Access individual characters in a string using square brackets '[]'.
# Slicing: Access a substring using the ':' operator.


text = "Python"

# Indexing
first_char = text[0]     # 'P'
last_char = text[-1]     # 'n'


# Slicing
substring = text[1:4]    # 'yth'

In [118]:
## 2 Types of 'Indexes' :: Indexing & Negative Indezing
    # Indexing starts with '0'
    # Negative indexing starts from '-1' backwards. 


# Exampple:

Name = "Imrana"
Name[0]

'I'

In [55]:
print(Name[0])

I

In [56]:
Name1 = "Urmi Khan"

Name1[0:3]

'Urm'

In [57]:
Name1[6:8]

'ha'

In [78]:
# Indexing (Starts with '0')

var = "Urmi Khan"

var[0]

'U'

In [79]:
# Negative Indexing (Starts with '-1' from the backwards)

var[-1]

'n'

In [80]:
len(var)  #Count -- Not Indexing

9

####  INDEXING | Slicing (Stride)

In [81]:
Name = "Imrana Yasmin"

Name[0:6:2]     #[Start_Indx:last_indx-1:stride]

'Irn'

In [82]:
Name[::2]

'Irn amn'

In [83]:
Name[:]

'Imrana Yasmin'

In [60]:
# Index Vs. Count

    # 'Index' starts from '0'
    # 'Count' starts from '1'


## Index:

Name4="Nisa Tehzeeb"
Name4[8:12]

'zeeb'

In [61]:
## Stride:

Name4[0:12:2]

'Ns eze'

In [62]:
# Index:

Name4[5:]

'Tehzeeb'

In [63]:
# Stride till the end by 2:

Name4[0::2]

'Ns eze'

In [64]:
var="Hello World"
var[::2]

'HloWrd'

In [65]:
var[0:13:2]

'HloWrd'

In [66]:
var[:]

'Hello World'

#### ESCAPE SEQUENCE

In [119]:
print("Imrana \nis the best Business Analyst.")

Imrana
is the best Business Analyst.

In [120]:
print("Imrana \tis the best Business Analyst.")

Imrana 	is the best Business Analyst.

In [122]:
## The 'back slash - \' is always printed once:

print("Imrana \ is the best Business Analyst.")

Imrana \ is the best Business Analyst.

In [121]:
print("Imrana \\ is the best Business Analyst.")

Imrana \ is the best Business Analyst.