# 'for loop' Examples

##### Example 1: Iterating Over a List

In [3]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(f"I like {fruit}")

I like apple
I like banana
I like cherry

In [4]:
## Explanation :----

# The 'for' loop iterates through each item in the list 'fruits'.
# The variable 'fruit' takes the value of each element in the list, one at a time.
# The loop prints a statement for each fruit.

##### Example 2: Using 'range()' to Loop Through Numbers

In [4]:
for i in range(5):
    print(f"Number: {i}")

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

In [6]:
## Explanation :----

# The 'range(5)' generates numbers from 0 to 4 (not including 5).
# The variable 'i' takes each number in this range, one at a time.
# The loop prints each number.

##### Example 3: Looping With a Step in 'range()'

In [5]:
for i in range(0, 10, 2):
    print(f"Step: {i}")

Step: 0
Step: 2
Step: 4
Step: 6
Step: 8

In [7]:
## Explanation :----

# 'range(0, 10, 2)' generates numbers starting at 0, up to (but not including) 10, with a step of 2.
# The loop prints '0, 2, 4, 6, 8.'

##### Example 4: Iterating Over a String

In [6]:
word = "Python"
for letter in word:
    print(f"Letter: {letter}")

Letter: P
Letter: y
Letter: t
Letter: h
Letter: o
Letter: n

In [8]:
## Explanation :----

# The 'for' loop iterates through each character in the string 'word.'
# The variable 'letter' takes the value of each character, one at a time.
# The loop prints each letter of the word.

##### Example 5: Nested for Loops

In [7]:
for i in range(3):
    for j in range(3):
        print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 0, j: 2
i: 1, j: 0
i: 1, j: 1
i: 1, j: 2
i: 2, j: 0
i: 2, j: 1
i: 2, j: 2

In [9]:
## Explanation :----

# The outer loop '(for i in range(3))' runs 3 times, with 'i' taking values 0, 1, and 2.
# For each iteration of the outer loop, the inner loop '(for j in range(3))' runs 3 times.
# This creates a combination of all values of 'i' and 'j.'

##### Example 6: Loop With Conditional Statements

In [8]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd

In [10]:
## Explanation :----

# The loop iterates over the list 'numbers.'
# Inside the loop, a condition checks whether the current number '(num)' is even or odd.
# It prints a corresponding message.

##### Example 7: Using break to Exit a Loop Early

In [9]:
for num in range(1, 10):
    if num == 5:
        print("Breaking the loop")
        break
    print(num)

1
2
3
4
Breaking the loop

In [11]:
## Explanation :----

# The loop prints numbers from 1 to 4.
# When 'num' equals 5, the 'break' statement exits the loop.

##### Example 8: Using continue to Skip Iterations

In [10]:
for num in range(1, 10):
    if num % 2 == 0:
        continue  # Skip even numbers
    print(num)

1
3
5
7
9

In [12]:
## Explanation :----

# The loop skips numbers that are even using 'continue.'
# Only odd numbers are printed.

##### Example 9: Loop With 'else' Clause

In [11]:
for num in range(1, 4):
    print(num)
else:
    print("Loop completed!")

1
2
3
Loop completed!

In [13]:
## Explanation :----

# The 'else' block runs after the loop finishes iterating over all items.
# It does not run if the loop exits early using 'break.'

##### Example 10: List Comprehension (Alternative to 'for' Loop)

In [12]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [14]:
## Explanation :----

# This is a concise way to create a list using a 'for' loop inside square brackets.
# The list 'squares' contains the square of each number in the range 0 to 4.

## --------- Advanced Examples ------------

##### Example 1: Looping Over a Dictionary

In [13]:
student_scores = {"Alice": 85, "Bob": 90, "Charlie": 78}

# Iterating over keys and values
for student, score in student_scores.items():
    print(f"{student} scored {score}")

Alice scored 85
Bob scored 90
Charlie scored 78

In [16]:
## Explanation :----

# The '.items()' method of the dictionary returns pairs of keys and values.
# The 'for' loop unpacks these pairs into 'student' and 'score.'

##### Example 2: Looping Through Multiple Lists Simultaneously

In [14]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]

for name, age in zip(names, ages):
    print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old

In [ ]:
## Explanation :----

# The 'zip()' function combines two or more iterables into tuples.
# The 'for' loop unpacks each tuple into 'name' and 'age.'

##### Example 3: Loop With a Generator

In [15]:
def generate_squares(n):
    for i in range(n):
        yield i ** 2

for square in generate_squares(5):
    print(square)

0
1
4
9
16

In [ ]:
## Explanation :----

# The 'generate_squares' function is a generator that yields square values one at a time.
# The 'for' loop retrieves each square value lazily, which is memory-efficient for large datasets.

##### Example 4: List of Lists (Nested Iterables)

In [16]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in matrix:
    for element in row:
        print(element, end=" ")
    print()  # For new line after each row

1 2 3
4 5 6
7 8 9

In [1]:
## Explanation :----

# The outer loop iterates through each row (list) in the 'matrix.'
# The inner loop iterates through each element in the current row.

##### Example 5: Enumerating With Indices

In [17]:
colors = ["red", "blue", "green"]

for index, color in enumerate(colors):
    print(f"Color {index + 1}: {color}")

Color 1: red
Color 2: blue
Color 3: green

In [ ]:
## Explanation :----

# The 'enumerate()' function provides both the index and the value for each iteration.
# The loop prints the index (starting from 0) and the corresponding color.

##### Example 6: Loop With Try-Except

In [18]:
data = [10, "20", 30, "invalid", 40]

for item in data:
    try:
        print(int(item) * 2)
    except ValueError:
        print(f"Skipping invalid item: {item}")

20
40
60
Skipping invalid item: invalid
80

In [2]:
## Explanation :----

# The loop attempts to convert each 'item' to an integer and multiplies it by 2.
# If a 'ValueError' occurs (e.g., for a non-numeric value), it skips the item and prints a message.

##### Example 7: Flattening a List of Lists

In [19]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
## Explanation :----

# The nested 'for' loops in a list comprehension iterate through each sublist and then each item in the sublist.
# This creates a single, flat list.

##### Example 8: Looping With Conditional Filtering

In [20]:
numbers = range(10)

# Filtering even numbers and squaring them
even_squares = [n**2 for n in numbers if n % 2 == 0]
print(even_squares)

[0, 4, 16, 36, 64]

In [ ]:
## Explanation :----

# A list comprehension includes a condition '(if n % 2 == 0)' to filter out odd numbers.
# Only even numbers are squared and added to the list.

# 'while loop' Examples

##### Example 1: Basic 'while' Loop

In [4]:
count = 1
while count <= 5:
    print(f"Count is {count}")
    count += 1

Count is 1
Count is 2
Count is 3
Count is 4
Count is 5

In [5]:
## Explanation :----

# The loop runs as long as the condition 'count <= 5' is 'True.'
# On each iteration, the value of 'count' is printed and incremented by 1.
# Once 'count' exceeds 5, the condition becomes 'False,' and the loop stops.

Example 2: Infinite Loop (with Break)

In [1]:
while True:
    user_input = input("Enter 'exit' to quit: ")
    if user_input.lower() == 'exit':
        print("Exiting the loop!")
        break

Enter 'exit' to quit: exit
Exiting the loop!

In [1]:
## Explanation :----

# The 'while True' creates an infinite loop.
# Inside the loop, it asks for user input.
# If the input is "exit", the 'break' statement exits the loop.

Example 3: 'while' Loop With a Countdown

In [3]:
countdown = 10
while countdown > 0:
    print(f"Countdown: {countdown}")
    countdown -= 1
print("Blast off!")

Countdown: 10
Countdown: 9
Countdown: 8
Countdown: 7
Countdown: 6
Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Blast off!

In [2]:
## Explanation :----

# The loop runs while 'countdown' is greater than 0.
# The value of 'countdown' decreases by 1 on each iteration.
# When 'countdown' reaches 0, the loop ends, and "Blast off!" is printed.

Example 4: Using 'continue' in a 'while' Loop

In [6]:
number = 0
while number < 10:
    number += 1
    if number % 2 == 0:
        continue  # Skip the rest of the loop for even numbers
    print(number)

1
3
5
7
9

In [3]:
## Explanation :----

# The loop increments 'number' from 1 to 10.
# If the number is even, the 'continue' statement skips the rest of the loop.
# Only odd numbers are printed.

Example 5: Validating User Input

In [1]:
password = ""
while password != "1234":
    password = input("Enter the correct password: ")
print("Access granted!")

Enter the correct password: 1234
Access granted!

In [4]:
## Explanation :----

# The loop keeps asking the user for input until they enter the correct password ("1234").
# Once the condition (password != "1234") is 'False,' the loop exits, and "Access granted!" is printed.

Example 6: Nested while Loops

In [2]:
outer = 1
while outer <= 3:
    inner = 1
    while inner <= 3:
        print(f"Outer: {outer}, Inner: {inner}")
        inner += 1
    outer += 1

Outer: 1, Inner: 1
Outer: 1, Inner: 2
Outer: 1, Inner: 3
Outer: 2, Inner: 1
Outer: 2, Inner: 2
Outer: 2, Inner: 3
Outer: 3, Inner: 1
Outer: 3, Inner: 2
Outer: 3, Inner: 3

In [5]:
## Explanation :----

# The outer loop runs 3 times with 'outer' values 1, 2, and 3.
# For each iteration of the outer loop, the 'inner' loop runs 3 times with inner values 1, 2, and 3.
# This creates a nested structure of outputs.

Example 7: Summing Numbers

In [3]:
total = 0
current = 1
while current <= 5:
    total += current
    current += 1
print(f"The total sum is {total}")

The total sum is 15

In [6]:
## Explanation :----

# The loop adds the numbers from 1 to 5 to the variable 'total.'
# Once 'current' exceeds 5, the loop ends, and the total is printed.

Example 8: 'while' With a List

In [4]:
tasks = ["task1", "task2", "task3"]
while tasks:
    current_task = tasks.pop(0)
    print(f"Processing {current_task}")

Processing task1
Processing task2
Processing task3

In [7]:
## Explanation :----

# The loop continues as long as the 'tasks' list is not empty.
# The '.pop(0)' method removes and retrieves the first item in the list.
# Each task is processed until the list becomes empty.

Example 9: Factorial Calculation

In [7]:
number = 5
factorial = 1
while number > 0:
    factorial *= number
    number -= 1
print(f"Factorial: {factorial}")

Factorial: 120

In [8]:
## Explanation :----

# The loop calculates the factorial of '5' (5! = 5 × 4 × 3 × 2 × 1).
# The 'factorial' variable accumulates the product.
# When 'number' reaches 0, the loop ends, and the result is printed.

Example 10: Guessing Game

In [9]:
import random

target = random.randint(1, 10)
guess = None

while guess != target:
    guess = int(input("Guess a number between 1 and 10: "))
    if guess < target:
        print("Too low!")
    elif guess > target:
        print("Too high!")
    else:
        print("Correct!")

Guess a number between 1 and 10: 5
Correct!

In [9]:
## Explanation :----

# A random number between 1 and 10 is generated as the target.
# The user guesses the number until they match the target.
# Hints ("Too low!" or "Too high!") guide the user during the guessing process.